@import url('https://fonts.googleapis.com/css2?family=Namdhinggo:wght@400;500;600;700;800&display=swap');

#root {
    font-family: "Namdhinggo", serif;
}

body {
    background: linear-gradient(180deg, rgb(25, 129, 148) 40%, rgb(74, 176, 194) 100%);
}

.container {
    padding: 0 2rem;
}

